@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@theme {
    --font-sigmar-one: 'Sigmar One', cursive;
    --font-open-sans: 'Open Sans', sans-serif;
    --color-light-purple: #A88FB9;

    --breakpoint-sm: 36rem;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #e0cbcb;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }
}


/* scrollbars */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #6b21a8;
    border-radius: 9999px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb:hover {
    background: #a78bfa;
}

