@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@theme {
    --font-sigmar-one: 'Sigmar One', cursive;
    --font-open-sans: 'Open Sans', sans-serif;
    --color-light-purple: #A88FB9;

    --breakpoint-sm: 36rem;
}

/*@font-face {*/
/*    font-family: 'Material Symbols Rounded';*/
/*    font-style: normal;*/
/*    font-weight: 100 700;*/
/*    src: url(https://fonts.gstatic.com/l/font?kit=sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjzarEHXoBEVdevY2u6UJC22uIo&skey=70ddea8fe54d532e&v=v317) format('woff2');*/
/*}*/

/*@utility location-icon-* {*/
/*    font-family: 'Material Symbols Rounded';*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-size: calc(--value(integer) * 1px);*/
/*    line-height: 1;*/
/*    letter-spacing: normal;*/
/*    text-transform: none;*/
/*    display: inline-block;*/
/*    white-space: nowrap;*/
/*    word-wrap: normal;*/
/*    direction: ltr;*/
/*    -webkit-font-feature-settings: 'liga';*/
/*    -webkit-font-smoothing: antialiased;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Material Symbols Rounded';*/
/*    font-style: normal;*/
/*    font-weight: 100 700;*/
/*    src: url(https://fonts.gstatic.com/l/font?kit=sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjzarEIYoVCVNeyeXXVFbqKKSE&skey=70ddea8fe54d532e&v=v317) format('woff2');*/
/*}*/

/*@utility .material-symbols-rounded {*/
/*    font-family: 'Material Symbols Rounded';*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-size: 24px;*/
/*    line-height: 1;*/
/*    letter-spacing: normal;*/
/*    text-transform: none;*/
/*    display: inline-block;*/
/*    white-space: nowrap;*/
/*    word-wrap: normal;*/
/*    direction: ltr;*/
/*    -webkit-font-feature-settings: 'liga';*/
/*    -webkit-font-smoothing: antialiased;*/
/*}*/


@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #e0cbcb;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }
}
